body {
  background-color: #eee;
  box-sizing: border-box;
  font-family: 'Roboto';
  -webkit-font-smoothing: antialiased;
}

main {
  margin: 0 auto;
  max-width: 1920px;
}

video {
  bottom: 0;
  left: 0;
  object-fit: fill;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}

h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 12px;
}

.video-icon-contain {
  display: none;
  height: 100%;
  position: relative;
}

.video-icon {
  background: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 120px;
  left: 50%;
  outline: none;
  position: relative;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  -webkit-apperance: none;
  -moz-appearance: none;
}

.ad-group {
  height: 430px;
  margin: 0;
  padding: 0;
  position: relative;
}

.ad {
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  transition: opacity 1s;
  width: 100%;
  z-index: 1;
  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
}

.active-ad {
  opacity: 1;
  z-index: 2;
}

.videoPlayer {
  height: 320px;
  margin: auto;
  max-width: 1600px;
  position: relative;
}

.info {
  background-color: #fff;
  height: 100%;
  position: relative;
}
.content {
  padding: 20px;
}

.video-description, .learnmore-scroll {
  display: block;
  margin-bottom: 20px;
  position: relative;
}

.video-description {
  color: #000;
  font-size: 16px;
  display: block;
  line-height: 24px;
  margin-bottom: 20px;
}

.btn {
  background-color: #0f6db3;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  font-size: 14px;
  padding: 12px 14px;
  text-align: center;
  text-decoration: none;
  width: 100px;
}
.btn:hover {
  background-color: #107ac8;
}

.video-section {
  height: 100%;
  position: relative;
  width: 100%;
}

.controls {
  bottom: -26em;
  position: absolute;
  right: 1em;
  z-index: 9;
}

.controls .previous, .controls .next {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 40px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.controls span {
  bottom: 10px;
  position: relative;
}

@media screen and (min-width: 768px) {
  video {
    display: block;
  }

  .videoPlayer {
    height: 520px;
  }

  .controls {
    bottom: -25em;
  }

  .video-description {
    height: 100px;
  }
}

@media screen and (min-width: 992px) {
  main {
    margin: 10em auto;
  }

  .video-section {
    float: left;
    width: 50%;
  }

  .video-icon-contain {
    display: block;
  }

  .info {
    float: right;
    width: 50%;
  }

  .controls {
    bottom: 1em;
  }

}

@media screen and (min-width: 1600px) {
 
  video {
    float: left;
    width: 980px;
  }

  .ad-group {
    height: 520px;
  }

  .info {
    float: right;
    width: 620px;
  }

  .content {
    height: 320px;
    padding: 100px 20px;
  }

  .video-section {
    width: 980px;
    float: left;
  }

  .controls {
    bottom: 1em;
    position: absolute;
    right: 1em;
    z-index: 9;
  }
}